# SND Mini — Environment Variables
# Copy this file to .env and fill in real values.
# Never commit .env to Git.

# ─── Server ───────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=5000



# ─── Database ─────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb://odaysaad2003_db_user:sxHov2fpjbuZv8B2@ac-zxrsl4t-shard-00-00.icchod4.mongodb.net:27017,ac-zxrsl4t-shard-00-01.icchod4.mongodb.net:27017,ac-zxrsl4t-shard-00-02.icchod4.mongodb.net:27017/?ssl=true&replicaSet=atlas-14bg7r-shard-0&authSource=admin&appName=test-cluster



# ─── CORS ─────────────────────────────────────────────────────────────────────
CLIENT_ORIGIN=http://localhost:3000

# ─── JWT (required from Sprint 2 — Auth module) ───────────────────────────────
JWT_ACCESS_SECRET=860562a7bb30b9b25a390be1fc4c94d656abaccdb6e3c24474573e22f028d9ec
JWT_REFRESH_SECRET=replace_with_a_strong_random_refresh_secret_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ─── Cloudinary (required from Image Upload sprint) ───────────────────────────
CLOUDINARY_CLOUD_NAME=replace_with_your_cloudinary_cloud_name
CLOUDINARY_API_KEY=replace_with_your_cloudinary_api_key
CLOUDINARY_API_SECRET=replace_with_your_cloudinary_api_secret




#---- database information
odaysaad2003_db_user
IolSd7H84FUKb92l


odaysaad2003_db_user
sxHov2fpjbuZv8B2



